.center{
  margin-top: 150px;
}
.content, p{
  color: #A9A9A9;
  font-size: 15px;
}
.title{
  font-family: "American Typewriter";
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  color: gray;
}
