.App {
  text-align: center;
  background: transparent;
}

.App-link {
  color: #61dafb;
}

.background{
  background-image: url(./common/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
}
