.button{
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: #2C5274;
  background-color: #284A69;
  padding: 5px;
  margin: auto;
  opacity: .9;
}
.button:hover{
    opacity: .5;
    cursor: pointer;
}
a, a:hover, a:active, a:visited{
  color: white;
}
